################################################################################
### General Setup ##############################################################
################################################################################

### Compose project ############################################################

SERVICES='apache nginx mariadb php-fpm phpmyadmin sftp'

SERVER_NAME=docker.test
RESTART_POLICY=no

PHP_UPSTREAM_CONTAINER=php-fpm
PHP_UPSTREAM_PORT=9000
PROJECT_CONTAINER_DIR=/var/www/html
USER_ID=82
USER_NAME=www-data

### Secrets ####################################################################

MYSQL_ROOT_PASSWORD=secret
SFTP_PASSWORD=examplepass

################################################################################
### Containers Customization ###################################################
################################################################################

### MariaDB ####################################################################

COLLATION=utf8mb4_unicode_520_ci
TZ=Europe/Budapest
